body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}

#game_container_wrapper {
    max-width: 100vw;
    max-height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

#game_container {
    align-self: center;
    text-align: center;
    background-color: aquamarine;
    margin: 0;
    aspect-ratio: 1 / 2;
    height: 100vh;
    box-sizing: border-box;
}